.label {
  padding-bottom: 10px;
}
.box-grid {
  height: 110vh;
  width: 40%;
  background-color: white;
  text-align: center;
  border: solid;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 30px;
}

.tool-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: blue;
}
.logo-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  justify-items: start;
  align-content: stretch;
}

.company-button {
  display: grid;
  align-items: center;
  justify-content: end;
  margin-right: 10px;
}
